<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-layout">
<!--<div></div>-->
<div layout:fragment="content">

    <div class="mt-2">
        <div class="card">
            <div class="card-header">
                FOLDER
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${folder.name}"></h5>

                <form th:action="@{'/delete-category'}" method="post" th:each="cat: ${folder.categories}" class="d-inline">
                    <input type="hidden" name="category_id" th:value="${cat.id}">
                    <input type="hidden" name="folder_id" th:value="${folder.id}">
                    <button class="badge text-bg-info border-0" th:text="${cat.name} + ' x'"></button>
                </form>

                <button type="button" class="btn btn-link fw-bold text-decoration-none text-dark" data-bs-toggle="modal"
                        data-bs-target="#addCategory">
                    + Add Category
                </button>

                <div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form th:action="@{'/add-category'}" method="post">
                                <input type="hidden" name="folder_id" th:value="${folder.id}">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">CATEGORY</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 mt-2">
                                                    <div class="text-center">
                                                        <label>ADD CATEGORY</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 mt-2">
                                                    <div>
                                                        <select class="form-control" name="category_id">
                                                            <option th:each="cat: ${categories}"
                                                                    th:text="${cat.name}"
                                                                    th:value="${cat.id}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE
                                    </button>
                                    <button class="btn btn-primary">ADD FOLDER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button type="button" class="btn btn-link fw-bold text-decoration-none text-dark mt-2" data-bs-toggle="modal" data-bs-target="#addTask">
        + ADD TASK
    </button>

    <div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/add-task'}" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">TASK</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-12 mt-2">
                                    <div>
                                        <label>TITLE</label>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div>
                                        <input type="text" class="form-control" name="title" required>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div>
                                        <label>DESCRIPTION</label>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div>
                                        <textarea rows="5" name="description" class="form-control"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" name="folder_id" th:value="${folder.id}">
                                <input type="hidden" name="status" th:value="0">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                        <button class="btn btn-primary">ADD TASK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Task Name</th>
            <th style="width: 70%">Description</th>
            <th>Status</th>
            <th>Details</th>
        </thead>
        <tbody>
            <tr th:each="t:${tasks}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.title}"></td>
                <td th:text="${t.description}"></td>
                <td th:if="${t.status==0}" class="text-primary fw-bold">TO DO</td>
                <td th:if="${t.status==1}" class="text-warning fw-bold">IN TEST</td>
                <td th:if="${t.status==2}" class="text-success fw-bold">DONE</td>
                <td><a th:href="@{'/task-details/' + ${t.id}}" class="btn btn-primary">View Mowe</a></td>
            </tr>
        </tbody>
    </table>

</div>

</html>